@model IEnumerable<OJewelry.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Client List for <i>User</i></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @*
                    @Html.ActionLink("Collections", "Index", "Collections", new { CompanyId = item.Company.Id }, null)
                *@
            </td>
        </tr>
    }
    @Html.ActionLink("Companies", "Index", "Companies")

</table>
