@model IEnumerable<OJewelry.Models.Stone>

@{
    ViewBag.Title = "Index";
}

<h2>Stones for the <i>@ViewBag.CompanyName</i> company</h2>

@Html.ActionLink("Export Stones to Excel", "ExportStonesReport", new { companyId = ViewBag.companyId })

<p>
    @Html.ActionLink("Assortment", "Index", "Collections", new { CompanyId = ViewBag.CompanyId }, null) |
    @Html.ActionLink("Companies", "Index", "Companies")
</p>

<p>
    @Html.ActionLink("Create New Stone", "Create", new { companyId = ViewBag.CompanyId })
</p>
<table class="table">
    <tr>
        <th>
            Stone
        </th>
        <th>
            Shape
        </th>
        <th>
            Vendor
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CtWt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoneSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettingCost)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shape.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CtWt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoneSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingCost)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Export Stones to Excel", "ExportStonesReport", new { companyId = ViewBag.companyId })

<p>
    @Html.ActionLink("Assortment", "Index", "Collections", new { CompanyId = ViewBag.CompanyId }, null) |
    @Html.ActionLink("Companies", "Index", "Companies")
</p>