@model IEnumerable<OJewelry.Models.MetalCode>

@{
    ViewBag.Title = "Labor Table";
}

<h2>Metal Codes for <i>@ViewBag.CompanyName</i></h2>

<p>
    @Html.ActionLink("Create New Metal Code", "Create", new { @companyId = ViewBag.companyId })
</p>
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Metals to Excel", "ExportMetalsReport", new { companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Market)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multiplier)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Market)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Multiplier)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Metals to Excel", "ExportMetalsReport", new { companyId = ViewBag.companyId })
</p>