@model OJewelry.Models.CompanyViewModel
@using OJewelry.Models


<div class="form-group">
    @Html.LabelFor(model => model.company.Name, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.company.Name, new { htmlAttributes = new { @class = "form-control  width100" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.company.StreetAddr, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.company.StreetAddr, new { htmlAttributes = new { @class = "form-control width100" } })
    </div>
    @Html.LabelFor(model => model.company.Phone, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.company.Phone, new { htmlAttributes = new { @class = "form-control width100" } })
    </div>
</div>
<div class="form-group">
    <div>
        @Html.LabelFor(model => model.company.Addr2, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.company.Addr2, new { htmlAttributes = new { @class = "form-control width100" } })
        </div>
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control width100" } })
        </div>

    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.company.Website, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-5">
        @Html.EditorFor(model => model.company.Website, new { htmlAttributes = new { @class = "form-control width100" } })
    </div>
</div>
<div class="form-group">
    @Html.ValidationMessageFor(model => model.company.Name, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.company.StreetAddr, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.company.Addr2, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.company.Phone, "", new { @class = "text-danger" })
    @Html.ValidationMessageFor(model => model.company.Website, "", new { @class = "text-danger" })
</div>

@if (Model != null && Model.clients != null)
{
    <h4>Contacts</h4>
    <div id="ContactsTableHeader" class="form-group">
        @Html.LabelFor(model => model.clients[0].Name, htmlAttributes: new { @class = "control-label contorl-label-left col-md-3" })
        @Html.LabelFor(model => model.clients[0].JobTitle, htmlAttributes: new { @class = "control-label contorl-label-left col-md-3" })
        @Html.LabelFor(model => model.clients[0].Phone, htmlAttributes: new { @class = "control-label contorl-label-left col-md-3" })
        @Html.LabelFor(model => model.clients[0].Email, htmlAttributes: new { @class = "control-label contorl-label-left col-md-3" })
    </div>
    <div id="ContactsTableData">
        @for (int i = 0; i < Model.clients.Count; i++)
        {
            <div class="form-group ContactsTableRowContainer">
                @Html.HiddenFor(model => model.clients[i].State, new { @class = "ContactsState" })
                <div class="row ContactsTableRowData">
                    @Html.HiddenFor(model => model.clients[i].Id)
                    @Html.HiddenFor(model => model.clients[i].CompanyID)
                    <div>
                        @Html.EditorFor(model => model.clients[i].Name, new { htmlAttributes = new { @class = "form-control requiredifnotremoved col-md-3" } })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.clients[i].JobTitle, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.clients[i].Phone, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.clients[i].Email, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                    </div>
                </div>
                <div class="row ContactsTableRowValidation">
                    @Html.ValidationMessageFor(model => model.clients[i].Name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.clients[i].Phone, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.clients[i].Email, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.clients[i].JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
}

