@model IEnumerable<OJewelry.Models.Company>

@{
    ViewBag.Title = "Companies";
}

<h2>Company List for <i>@ViewBag.UserName</i></h2>

<p>
    @Html.ActionLink("Create New Company", "Create", new { @companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td  class="MainMenu">
            @Html.ActionLink("Contact", "Edit", new { id = item.Id }) |
            @Html.Partial("_CompanyNavPartial", item.Id) 
        </td>
    </tr>
}

</table>
