@model IEnumerable<OJewelry.Models.Company>

@{
    ViewBag.Title = "Companies";
}

<h2>Company List for <i>User</i></h2>

<p>
    @Html.ActionLink("Create New Company", "Create", new { @companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Assortment", "Index", "Collections", new { Companyid = item.Id }, null) |
            @Html.ActionLink("Components", "Index", "Components", new { Companyid = item.Id }, null) |
            @Html.ActionLink("Locations", "Index", "Presenters", new { companyId = item.Id }, null) |
            @Html.ActionLink("Clients", "Index", "Clients", new { companyId = item.Id }, null) |
            @Html.ActionLink("Inventory", "Inventory", new { companyId = item.Id })
        </td>
    </tr>
}

</table>
