@model OJewelry.Models.InventoryReportModel

@{
    ViewBag.Title = "InventoryReport";
}

<h2>Inventory Report for the <i>@Model.CompanyName</i> Company</h2>

<table class="table">
    <tr>
        <th>Style</th>
        <th>Name</th>
        <th>Description</th>
        <th>Collection</th>
        <th>Retail</th>
        <th>QOH</th>
        <!--Loop thru Memo locations-->
        @foreach (OJewelry.Models.irmLocation l in Model.locations)
        {
            <th>@l.ShortName</th>
        }
        <th>SOLD</th>
    </tr>

    @foreach (OJewelry.Models.irmStyle s in Model.styles)
    {
        <tr>
            <td>@s.StyleNum</td>
            <td>@s.StyleName</td>
            <td>@s.StyleDesc</td>
            <td>@s.StyleCollectionName</td>
            <td>@s.StylePrice</td>
            <td>@s.StyleQuantity</td>
            @foreach (OJewelry.Models.irmLocation l in Model.locations)
            {
                OJewelry.Models.irmLS cell = @Model.locationQuantsbystyle.Where(x => x.StyleId == s.StyleId && x.PresenterId == l.PresenterId).SingleOrDefault();
                string qty = "-";
                if (cell != null) @qty = cell.MemoQty.ToString();
                <td>@qty</td>
            }
            <td>@s.StyleQtySold</td>
        </tr>
        <tr></tr>
    }

</table>
@Html.ActionLink("Export Inventory Report", "ExportInventoryReport", new { CompanyId = Model.CompanyId, dt = DateTime.Now }) | 
@Html.ActionLink("Inventory", "Inventory", new { CompanyId = Model.CompanyId })

