@model OJewelry.Models.InventoryReportModel

@{
    ViewBag.Title = "InventoryReport";
}

<h2>Inventory Report for the <i>@Model.CompanyName</i> Company</h2>

<table class="table">
    <tr>
        <th>Style</th>
        <th>Name</th>
        <th>Retail</th>
        <th>@Model.CompanyName</th>
        <!--Loop thru Memo locations-->
        @foreach (OJewelry.Models.irmLocation l in Model.locations)
        {
            <th>@l.PresenterName</th>
        }
        <th>SOLD</th>
    </tr>

    @foreach (OJewelry.Models.irmStyle s in Model.styles)
    {
        <tr>
            <td>@s.StyleNum</td>
            <td>@s.StyleName</td>
            <td>Retail</td>
            <td>@s.StyleQuantity</td>
            @foreach (OJewelry.Models.irmLocation l in Model.locations)
            {
                OJewelry.Models.irmLS cell = @Model.locationQuantsbystyle.Where(x => x.StyleId == s.StyleId && x.PresenterId == l.PresenterId).SingleOrDefault();
                string qty = "-";
                if (cell != null) @qty = cell.MemoQty.ToString();
                <td>@qty</td>
            }
            <td>SOLD</td>
        </tr>
        <tr></tr>
    }

</table>

@Html.ActionLink("Inventory", "Inventory", new { CompanyId = Model.CompanyId })

