@model OJewelry.Models.InventoryReportModel

@{
    ViewBag.Title = "Inventory Report";
}

<h2>Inventory Report for <i>@Model.CompanyName</i></h2>

<br />

@{
    string jsCall = $"GetLocalTime({Model.CompanyId}, '{Url.Action("ExportInventoryReport")}')";
}

<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
    <a class="ExportLink" href="#" onclick="@jsCall">Export Inventory to Excel</a>

</p>

<br /><br />

<table class="table">
    <tr>
        <th>Style</th>
        <th>Name</th>
        <th>Description</th>
        <th>Jewelry Type</th>
        <th>Collection</th>
        <th>Retail</th>
        <!--Loop thru Memo locations-->
        @foreach (OJewelry.Models.irmLocation l in Model.locations)
        {
            <th>@l.ShortName</th>
        }
    </tr>

    @foreach (OJewelry.Models.irmStyle s in Model.styles)
    {
        <tr>
            <td>@s.StyleNum</td>
            <td>@s.StyleName</td>
            <td>@s.StyleDesc</td>
            <td>@s.JewelryTypeName</td>
            <td>@s.StyleCollectionName</td>
            <td>@s.StylePrice</td>
            @foreach (OJewelry.Models.irmLocation l in Model.locations)
            {

                OJewelry.Models.irmLS cell = Model.locationQuantsbystyle.Where(x => x.StyleId == s.StyleId && x.PresenterId == l.PresenterId).SingleOrDefault();
                string qty = "-";
                if (cell != null)
                {
                    qty = cell.MemoQty.ToString();
                }
                <td>@qty</td>
            }
        </tr>
        <tr></tr>
    }

</table>

<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
    <a class="ExportLink" href="#" onclick="@jsCall">Export Inventory to Excel</a>

</p>

@section Scripts {
    @Scripts.Render("~/Scripts/GetLocalTime.js")
}

