@model OJewelry.Models.FindingInventoryModel
@{
    ViewBag.Title = "Manage Findings Inventory";
}

<h2>Manage Finding Inventory for <i>@Model.CompanyName</i></h2>
<br />
<div class="MainMenu">
    @Html.ActionLink("Companies", "Index") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
</div>
<br />

@if (Model.Errors.Count != 0)
{
    <li>
        <p>Errors loading @Model.failedFileName</p>
        @foreach (string e in Model.Errors)
        {
            <ul class="text-danger">@e</ul>
        }
    </li>
    <p class="text-danger largeError"><strong>Correct Error(s) and re-Upload template</strong></p>

}

@if (Model.Warnings.Count != 0)
{
    <li>
        <p>
            Warnings loading @Model.failedFileName
        </p>
        @foreach (string e in Model.Warnings)
        {
            <ul class="text-warning">@e</ul>
        }
    </li>
}

@if (Model.success)
{
    <p class="text-success">@ViewBag.Message</p>
}

@using (Html.BeginForm("ManageFindingsInventory", "Companies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.CompanyName)
    <div class="row">
        <div class="col-sm-5">
            <span>Select File:</span>
            @Html.TextBoxFor(model => model.PostedFile, new { type = "file" })
            @Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("SaveFindingInventoryTemplate")" class="InvTemplate">Finding Inventory Template <img src="~/Images/MicrosoftExcelLogo.png" /></a>
        </div>
    </div>
    <br />
    <input type="submit" value="Upload" />
    <br />

}
<br />
<div class="MainMenu">
    @Html.ActionLink("Companies", "Index") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
    @Html.ActionLink("Inventory Report", "InventoryReport", new { CompanyId = Model.CompanyId })
</div>
