@model OJewelry.Models.StyleViewModel
@using OJewelry.Models

<div>
    <h2>Cost</h2>
    <div class="styleCastings">
        <!-- Castings -->
        <div class="row StyleComponentsRowHeader">
            @{Model.CCLastRow = false; Model.CCHeaderRow = true; Model.CCRowIndex = -1; Model.SVMCCType = SVMCCTypeEnum.Casting;}
            @if (Model.Castings.Count == 0) { Model.CCLastRow = true; }
            @Html.Partial("_CostComponentCol1", Model)
            <div class="col-sm-2">Casting</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Metal</div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Labor</div>
            <div class="col-sm-1">Quantity</div>
            <div class="col-sm-2">Total</div>
        </div>
        <div>
            @for (int i = 0; i < Model.Castings.Count; i++) // where state != deleted
            {
                Model.i = i;
                OJewelry.Models.CastingComponent c = Model.Castings[i];
                <div id="CastingRow_@i">
                    <div class="row ltbordered">
                        @{Model.CCLastRow = false; Model.CCHeaderRow = false; Model.CCRowIndex = i;}
                        @if (i == Model.Castings.Count - 1) { Model.CCLastRow = true; }
                        @Html.HiddenFor(model => model.Castings[i].Id)
                        @Html.HiddenFor(model => model.Castings[i].SVMState)
                        @Html.Partial("_CostComponentCol1", Model)
                        @Html.EditorFor(model => model.Castings[i].Name, new { htmlAttributes = new { @class = "col-sm-2" } })
                        <div class="col-sm-1"></div>
                        @Html.DropDownListFor(model => model.Castings[i].VendorId, Model.Castings[i].VendorList, new { @class = "col-sm-2" })
                        @Html.DropDownListFor(model => model.Castings[i].MetalCodeId, Model.Castings[i].MetalCodes, new { @class = "col-sm-1" })
                        @Html.EditorFor(model => model.Castings[i].Price, new { htmlAttributes = new { @class = "col-sm-1" } })
                        @Html.EditorFor(model => model.Castings[i].Labor, new { htmlAttributes = new { @class = "col-sm-1" } })
                        @Html.TextBoxFor(model => model.Castings[i].Qty, new { @class = "col-sm-1" })
                        <div id="CastingRowTotalValue_@i" class="col-sm-2 CastingRowTotal ">@Model.Castings[i].Total</div>
                    </div>
                    <div class="row">
                        <!--Validations Here-->
                        @Html.ValidationMessageFor(model => model.Castings[i].Name, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Castings[i].Price, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Castings[i].Labor, "", new { @class = "text-danger" })
                        @Html.ValidationMessageFor(model => model.Castings[i].Qty, "", new { @class = "text-danger" })
                    </div>
                 </div>
            }
            <div id="CastingTotal">
                <div class="row h4 StyleComponentsRowFooter">
                    <div class="col-sm-2"><b>Total Castings</b></div>
                    <div class="col-sm-8"></div>
                    <div id="CastingTotalValue" class="col-sm-2">@Model.MetalsTotal</div>
                </div>
            </div>
        </div>
    </div> <!-- Castings-->

    <div class="styleStones">
        <div class="row StyleComponentsRowHeader">
            @{Model.CCLastRow = false; Model.CCHeaderRow = true; Model.CCRowIndex = -1; Model.SVMCCType = SVMCCTypeEnum.Stone;}
            @if (Model.Stones.Count == 0) { Model.CCLastRow = true; }
            @Html.Partial("_CostComponentCol1", Model)
            <div class="col-sm-2">Stones</div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Ct Wt</div>
            <div class="col-sm-1">Size</div>
            <div class="col-sm-1">PPC/$</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @for (int i = 0; i < Model.Stones.Count; i++)
        {
            Model.i = i;
            OJewelry.Models.StoneComponent c = Model.Stones[i];
            <div id="StoneRow_@i">
                <div class="row ltbordered">
                    @{Model.CCLastRow = false; Model.CCHeaderRow = false; Model.CCRowIndex = i;}
                    @if (i == Model.Stones.Count - 1) { Model.CCLastRow = true; }
                    @Html.HiddenFor(model => model.Stones[i].Id)
                    @Html.HiddenFor(model => model.Stones[i].Name)
                    @Html.HiddenFor(model => model.Stones[i].ComponentTypeId)
                    @Html.Partial("_CostComponentCol1", Model)
                    <div class="col-sm-2 ">@c.Name </div>
                    <div class="col-sm-1 "></div>
                    <div class="col-sm-2 ">@c.VendorName </div>
                    <div class="col-sm-1 ">@c.CtWt </div>
                    <div class="col-sm-1 ">@c.Size </div>
                    <div class="col-sm-1 ">@c.PPC </div>
                    @Html.EditorFor(model => model.Stones[i].Qty, new { htmlAttributes = new { @class = "col-sm-1" } })
                    <div id="StoneRowTotalValue_@i" class="col-sm-2 StoneRowTotal ">@Model.Stones[i].Total</div>
                </div>

                <div class="row">
                    @Html.ValidationMessageFor(model => model.Stones[i].Name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Stones[i].Qty, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div id="StoneTotal">
            <div class="row h4 StyleComponentsRowFooter">
                <div class="col-sm-2"><b>Total Stones</b></div>
                <div class="col-sm-8"></div>
                <div id="StoneTotalValue" class="col-sm-2">@Model.StonesTotal</div>
            </div>
        </div>
    </div> <!--Stones-->

    <div class="styleFindings">
        <!-- Findings -->
        <div class="row StyleComponentsRowHeader">
            @{Model.CCLastRow = false; Model.CCHeaderRow = true; Model.CCRowIndex = -1; Model.SVMCCType = SVMCCTypeEnum.Finding; }
            @if (Model.Findings.Count == 0) { Model.CCLastRow = true; }
            @Html.Partial("_CostComponentCol1", Model)
            <div class="col-sm-2">Findings</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Metal</div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @for (int i = 0; i < Model.Findings.Count; i++)
        {
            Model.i = i;
            OJewelry.Models.FindingsComponent c = Model.Findings[i];
            <div id="FindingRow_@i">
                <div class="row ltbordered">
                    @{Model.CCLastRow = false; Model.CCHeaderRow = false; Model.CCRowIndex = i;}
                    @if (i == Model.Findings.Count - 1) { Model.CCLastRow = true; }
                    @Html.HiddenFor(model => model.Findings[i].Id)
                    @Html.HiddenFor(model => model.Findings[i].Name)
                    @Html.HiddenFor(model => model.Findings[i].ComponentTypeId)
                    @Html.Partial("_CostComponentCol1", Model)
                    <div class="col-sm-2 ">@c.Name </div>
                    <div class="col-sm-2 "></div>
                    <div class="col-sm-2 ">@c.VendorName </div>
                    <div class="col-sm-1">@Model.Findings[i].Metal</div>
                    <div class="col-sm-1">@Model.Findings[i].Price</div>
                    @Html.EditorFor(model => model.Findings[i].Qty, new { htmlAttributes = new { @class = "col-sm-1" } })
                    <div id="FindingRowTotalValue_@i" class="col-sm-2 FindingRowTotal ">@Model.Findings[i].Total</div>
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Findings[i].Name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Findings[i].Price, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Findings[i].Qty, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div id="FindingTotal">
            <div class="row h4 StyleComponentsRowFooter">
                <div id="FindingsTotalValue" class="col-sm-2"><b>Total Findings</b></div>
                <div class="col-sm-8"></div>
                <div class="col-sm-2">@Model.FindingsTotal</div>
            </div>
        </div>
    </div> <!-- Findings -->

    <div class="styleLabor">
        <!-- Labor -->
        <div class="row StyleComponentsRowHeader">
            @{Model.CCLastRow = false; Model.CCHeaderRow = true; Model.CCRowIndex = -1; Model.SVMCCType = SVMCCTypeEnum.Labor; }
            @if (Model.Labors.Count == 0) { Model.CCLastRow = true; }
            @Html.Partial("_CostComponentCol1")
            <div class="col-sm-2">Labor</div>
            <div class="col-sm-2 ">Desc</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-1">Price/PPH</div>
            <div class="col-sm-1">Price/PPC</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @for (int i = 0; i < Model.Labors.Count; i++)
        {
            Model.i = i;
            OJewelry.Models.LaborComponent c = Model.Labors[i];
            <div id="LaborRow_@i">
                <div class="row ltbordered">
                    @{Model.CCLastRow = false; Model.CCHeaderRow = false; Model.CCRowIndex = i;}
                    @if (i == Model.Labors.Count - 1) { Model.CCLastRow = true; }
                    @Html.HiddenFor(model => model.Labors[i].Id)
                    @Html.Partial("_CostComponentCol1", Model)
                    @Html.EditorFor(model => model.Labors[i].Name, new { htmlAttributes = new { @class = "col-sm-2" } })
                    @Html.EditorFor(model => model.Labors[i].Desc, new { htmlAttributes = new { @class = "col-sm-2" } })
                    <div class="col-sm-2 "></div>
                    @Html.EditorFor(model => model.Labors[i].PPH, new { htmlAttributes = new { @class = "col-sm-1" } })
                    @Html.EditorFor(model => model.Labors[i].PPP, new { htmlAttributes = new { @class = "col-sm-1" } })
                    @Html.EditorFor(model => model.Labors[i].Qty, new { htmlAttributes = new { @class = "col-sm-1" } })
                    <div id="LaborRowTotalValue_@i" class="col-sm-2 LaborRowTotal">@Model.Labors[i].Total</div>
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Labors[i].Name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Labors[i].PPH, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Labors[i].PPP, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Labors[i].Qty, "", new { @class = "text-danger" })
                </div>
           </div>
        }
        <div id="LaborTotal">
            <div class="row h4 StyleComponentsRowFooter">
                <div class="col-sm-2"><b>Total Labor</b></div>
                <div class="col-sm-8"></div>
                <div id="LaborRowTotal" class="col-sm-2">@Model.LaborsTotal</div>
            </div>
        </div>
    </div> <!-- Labors -->

    <div class="styleMisc">
        <!-- Misc -->
        <div class="row StyleComponentsRowHeader">
            @{Model.CCLastRow = false; Model.CCHeaderRow = true; Model.CCRowIndex = -1; Model.SVMCCType = SVMCCTypeEnum.Misc; }
            @if (Model.Miscs.Count == 0) { Model.CCLastRow = true; }
            @Html.Partial("_CostComponentCol1")
            <div class="col-sm-2">Misc</div>
            <div class="col-sm-2">Desc</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @for (int i = 0; i < Model.Miscs.Count; i++)
        {
            Model.i = i;
            OJewelry.Models.MiscComponent c = Model.Miscs[i];
            <div id="MiscRow_@i">
                <div class="row ltbordered">
                    @{Model.CCLastRow = false; Model.CCHeaderRow = false; Model.CCRowIndex = i;}
                    @if (i == Model.Miscs.Count - 1) { Model.CCLastRow = true; Model.CCRowIndex = i; }
                    @Html.HiddenFor(model => model.Miscs[i].Id)
                    @Html.Partial("_CostComponentCol1", Model)
                    @Html.EditorFor(model => model.Miscs[i].Name, new { htmlAttributes = new { @class = "col-sm-2" } })
                    @Html.EditorFor(model => model.Miscs[i].Desc, new { htmlAttributes = new { @class = "col-sm-2" } })
                    <div class="col-sm-3 "></div>
                    @Html.EditorFor(model => model.Miscs[i].PPP, new { htmlAttributes = new { @class = "col-sm-1" } })
                    @Html.EditorFor(model => model.Miscs[i].Qty, new { htmlAttributes = new { @class = "col-sm-1" } })
                    <div id="MiscRowTotalValue_@i" class="col-sm-2 MiscRowTotal">@Model.Miscs[i].Total</div>
                </div>
                <div class="row">
                    @Html.ValidationMessageFor(model => model.Miscs[i].Name, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Miscs[i].PPP, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.Miscs[i].Qty, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div id="MiscTotal">
            <div class="row h4 StyleComponentsRowFooter">
                <div class="col-sm-2"><b>Total Misc</b></div>
                <div class="col-sm-8"></div>
                <div id="MiscTotalValue" class="col-sm-2">@Model.MiscsTotal</div>
            </div>
        </div>
    </div> <!-- Misc -->

    <div class="row h3 StyleComponentsFooter">
        <div class="col-sm-2"><b>Total Cost</b></div>
        <div class="col-sm-8"></div>
        <div id ="GrandTotal" class="col-sm-2">@Model.Total</div>
    </div>
</div>
