@model OJewelry.Models.StyleViewModel
@using OJewelry.Models

@*Use CCRowIndex to determine which x button was pressed*@
@if (Model.SVMOp == SVMOperation.Print)
{
    <div class ="col-sm-1 col-xs-1"></div>
} else {
    <div class="col-sm-1 col-xs-1 ">
        <div class="row StyleComponentsRowHeaderBtn ">
            @{
                string idHeaderBtn = Model.SVMCCType + "AddBtn";
                string idRowBtn = Model.SVMCCType.ToString() + "AddBtn_" + Model.CCRowIndex.ToString();
            }
            @if (Model.CCHeaderRow)
            {
                if (Model.CCLastRow)
                {
                    <div class="col-sm-6 col-xs-6">
                        <button type="button" id='@idHeaderBtn' class=" btn btn-default @idHeaderBtn" onclick="AddComponentRow('@Model.SVMCCType', @Model.CCRowIndex)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-sm-6 col-xs-6">
                        <button type="button" id='@idHeaderBtn' class="btn btn-default hidden @idHeaderBtn" onclick="AddComponentRow('@Model.SVMCCType', @Model.CCRowIndex)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                }
            }
            else
            {
                if (Model.CCLastRow)
                {
                    <div class="col-sm-6 col-xs-6 ">
                        <button type="button" id='@idRowBtn' class="btn btn-default @idHeaderBtn" onclick="AddComponentRow('@Model.SVMCCType', @Model.CCRowIndex)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-sm-6 col-xs-6 ">
                        <button type="button" id='@idRowBtn' class="btn btn-default @idHeaderBtn hidden" onclick="AddComponentRow('@Model.SVMCCType', @Model.CCRowIndex)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                }
                <div class="col-sm-6 col-xs-6">
                    @if (Model.DelBtnPos == SVMDelButtonPos.Left)
                    {
                        <button type="button" class="btn btn-default" onclick="RemoveComponentRow('@Model.SVMCCType', @Model.i)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                </div>
                <!-- make into button and handle in js/ajax?  -->
            }
        </div>
    </div>
}
