@model OJewelry.Models.StyleViewModel

@{
    ViewBag.Title = "Copy";
}

<h2>Copy of (@Model.CopiedStyleName) style for the <i>@Model.Style.Collection.Name</i> collection</h2>

@using (Html.BeginForm("Create", "Styles", FormMethod.Post, new { id = "StylesForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="StyleCostSheet form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Style.CollectionId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.CopiedStyleName)

        @Html.Partial("_StyleCreateEditPartial", Model)

        <div>
            @Html.Partial("_CostComponentsPartial", Model)
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Style List", "Index", new { CollectionId = @Model.Style.CollectionId }) |
    @Html.ActionLink("Assortment", "Index", "Collections", new { CompanyId = @Model.CompanyId }, null) |
    @Html.ActionLink("Companies", "Index", "Companies")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/Scripts/Style_ComponentMgt.js")
    @Scripts.Render("~/Scripts/CreateEditComponents.js")
}

