@model OJewelry.Models.StyleViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create style for the <i>@Model.Style.Collection.Name</i> collection</h2>

<h6 class="text-danger">
    @foreach (KeyValuePair<string, ModelState> p in @ViewData.ModelState)
    {
        if (p.Value.Errors.Count != 0)
        {
            // display name and error
            foreach (ModelError e in p.Value.Errors)
            {
                <text>@p.Key, @e.ErrorMessage</text>
            }
        }
    }
</h6>

@using (Html.BeginForm("Create", "Styles", FormMethod.Post, new { id = "StylesForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Style</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Style.CollectionId)
        @Html.HiddenFor(model => model.CompanyId)

        @Html.Partial("_StyleCreateEditPartial", Model)

        <div>
            @Html.Partial("_CostComponentsPartial", Model)
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Style List", "Index", new { CollectionId = @Model.Style.CollectionId }) |
        @Html.ActionLink("Assortment", "Index", "Collections", new { CompanyId = @Model.Style.Collection.CompanyId }, null) |
        @Html.ActionLink("Companies", "Index", "Companies")
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Style_ComponentMgt.js")
}
