@model OJewelry.Models.Style

@{
    ViewBag.Title = "Delete Style";
}

<h2>Delete the <i>@Model.StyleNum</i> style</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="row StyleDelete">
        <div class="col-sm-7">
            <dl class="dl-horizontal ">
                <dt>
                    @Html.DisplayNameFor(model => model.StyleNum)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StyleNum)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StyleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StyleName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Desc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Desc)
                </dd>

                <dt>
                    @Html.DisplayName("COLLECTION ")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Collection.Name)
                </dd>

                <dt>
                    @Html.DisplayName("JEWELRY TYPE")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.JewelryType.Name)
                </dd>
            </dl>
        </div>
        <div class="col-sm-5">
            <div class="StyleDeleteRightHeader">
                @{var imgurl = (Model.Image != null) ? Model.Image : "/Images/logo.png"; }
                <img src="@imgurl" class="StyleImage centerImage" />
            </div>
        </div>
    </div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> 
        @Html.ActionLink("Back to Style", "Edit", new { id = Model.Id })
    </div>
    }
</div>
