@model OJewelry.Models.StyleViewModel

@{
    ViewBag.Title = "Edit";
}

<h2><i>@Model.Style.StyleName</i> Cost Sheet</h2>


@using (Html.BeginForm("Edit", "Styles", FormMethod.Post, new { id = "StylesForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="StyleCostSheet form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Style.Id)
        @Html.HiddenFor(model => model.Style.CollectionId)
        @Html.HiddenFor(model => model.Style.JewelryTypeId)
        @Html.HiddenFor(model => model.Style.MetalWtUnitId)
        @Html.HiddenFor(model => model.CompanyId)

        @Html.Partial("_StyleCreateEditPartial", Model)

        <div>
            @Html.Partial("_CostComponentsPartial", Model)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="submit" value="Print" formaction="../Print/@Model.Style.Id" class="btn" formtarget="_blank" />
                <input type="submit" value="Copy" formaction="../Copy/@Model.Style.Id" class="btn" />
                <input type="submit" value="Delete" formaction="../Delete/@Model.Style.Id" class="btn" />
            </div>
        </div>
    </div>
}

    <p>
        @Html.ActionLink("Companies", "Index", "Companies") |
        @Html.ActionLink("Style List", "Index", new { CollectionId = @Model.Style.CollectionId }) |
        @Html.Partial("_CompanyNavPartial", Model.CompanyId)
    </p>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/Scripts/Style_ComponentMgt.js")
    @Scripts.Render("~/Scripts/CreateEditComponents.js")
}



