@model OJewelry.Models.StyleViewModel
@using OJewelry.Models
@{
    ViewBag.Title = $"{Model.Style.StyleName} - Edit";
}

<h2>Edit the <i>@Model.Style.StyleName</i> Cost Sheet</h2>


@using (Html.BeginForm("Edit", "Styles", FormMethod.Post, new { id = "StylesForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="StyleCostSheet form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Style.Id)
        @Html.HiddenFor(model => model.Style.CollectionId)
        @Html.HiddenFor(model => model.Style.MetalWtUnitId)
        @Html.HiddenFor(model => model.CompanyId)

        @Html.Partial("_StyleCreateEditPartial", Model)

        <div>
            @Html.Partial("_CostComponentsPartial", Model)
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" formaction="~/Styles/Edit" class="btn btn-default saveBtn" />
                <input type="button" value="Print" formaction="~/Styles/Print/@Model.Style.Id" class="btn btn-default saveBtn" formtarget="_blank" />
                <input type="button" value="Copy" formaction="~/Styles/Copy/@Model.Style.Id" class="btn btn-default saveBtn" />
                <input type="button" value="Delete" formaction="~/Styles/Delete" class="btn btn-default saveBtn" />
                <input type="button" value="Pricing" class="btn btn-default pricingBtn trigger_ojPopup" />

                @Html.ActionLink("Mechanical", "Delete", new { id = Model.Style.Id }, new { @class = "btn btn-default hide saveBtn" })
                @Html.ActionLink("Worksheet", "Delete", new { id = Model.Style.Id }, new { @class = "btn btn-default hide saveBtn" })
                @*<a class="">Pricing</a>*@
            </div>
            <div class="fauxBtnGroup fauxhide col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default fauxBtn fauxHide" disabled="disabled" />
                <input type="submit" value="Print" class="btn btn-default fauxBtn fauxHide" disabled="disabled" />
                <input type="submit" value="Copy" class="btn btn-default fauxBtn fauxHide" disabled="disabled" />
                <input type="submit" value="Delete" class="btn btn-default fauxBtn fauxHide" disabled="disabled" />
                <input type="button" value="Pricing" class="btn btn-default trigger_ojPopup fauxBtn fauxHide" disabled="disabled" />

                @Html.ActionLink("Mechanical", "Delete", new { id = Model.Style.Id }, new { @class = "btn btn-default hide fauxHide saveBtn" })
                @Html.ActionLink("Worksheet", "Delete", new { id = Model.Style.Id }, new { @class = "btn btn-default hide fauxHide saveBtn" })
                @*<a class="">Pricing</a>*@
            </div>
        </div>
    </div>
}
    <br />
    <p class="MainMenu">
        @Html.ActionLink("Companies", "Index", "Companies") |
        @Html.ActionLink("Style List", "Index", new { CollectionId = @Model.Style.CollectionId }) |
        @Html.Partial("_CompanyNavPartial", Model.CompanyId)
    </p>

    @*<div>
        <p>----------------------------------------------</p>
        <div>
            <h3>Cost for XYZ</h3>
            <div class="row">
                <div class="col-xs-6 col-sm-6">Cost x 1.6</div>
                <div class="col-xs-6 col-sm-6">: value</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">Cost x 2</div>
                <div class="col-xs-6 col-sm-6">: value</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">Cost x 2.2</div>
                <div class="col-xs-6 col-sm-6">: value</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">Cost x 2.4</div>
                <div class="col-xs-6 col-sm-6">: value</div>
            </div>
        </div>
        <p>----------------------------------------------</p>
    </div>
    *@

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/Scripts/Style_ComponentMgt.js")
    @Scripts.Render("~/Scripts/CreateEditComponents.js")
}

<script>
    function ojPopupDraw() {
        $('.saveBtn').prop('disabled', false);
        const gt = $("#GrandTotal");
        const cn = $("#Style_StyleName").val();
        $(ojPopUpTContent).html(`
            <h3>Cost for <i>${cn}</i>: <b>$${gt.html()}</b></h3>
@if (Model.markups.Count == 0)
{
            <br/>
            <p>No markups defined</p>
} else {
    foreach (Markup m in Model.markups)
    {
            <div class="row">
                <div class="col-xs-6 col-sm-3">@m.title</div>
                <div class="col-xs-6 col-sm-3">: $${ComputeMarkupValue(@m.multiplier, @m.ratio, @m.margin, gt.html())}</div>
            </div>
    }
}
        </div>
        <br/>
        `);
    }
    function ComputeMarkupValue(multiplier, markup, margin, amt) { // show amt * 2 *  multiplier in cost popup
        var cost;
        if (markup !== 0) {
            cost = (Math.trunc(amt * (1 + multiplier/100) * (1 + markup/100) * 4) / 4).toFixed(2);
        } else {
            cost = (Math.trunc(amt * (1 + multiplier/100) * (1 - margin/100) * 4) / 4).toFixed(2);
        }
        return cost;
    }
</script>

