@model OJewelry.Models.StyleViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>The <i>@Model.Style.StyleName</i> Stylesheet</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Style.Id)
    @Html.HiddenFor(model => model.Style.CollectionId)
    @Html.HiddenFor(model => model.Style.JewelryTypeId)
    @Html.HiddenFor(model => model.CompanyId)
    
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.Style.StyleNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.StyleNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.StyleNum, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.StyleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.StyleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.StyleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style.Desc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.Desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.Desc, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.JewelryTypeId, "JewelryTypeId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("JewelryTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Style.JewelryTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style.CollectionId, "CollectionId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("CollectionId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Style.CollectionId, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.MetalWeight, "Metal Weight", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.MetalWeight, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.MetalWeight, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Style.IntroDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.IntroDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.IntroDate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style.Width, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.Width, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.Width, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.Length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Style.Length, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.Length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style.ChainLength, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.ChainLength, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.ChainLength, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Style.RetailRatio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.RetailRatio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.RetailRatio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Style.RedlineRatio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.RedlineRatio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.RedlineRatio, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Style.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Style.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Style.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <div>
        <h3>Cost</h3>
        <div class="row StyleComponentsRowHeader">
            <div class="col-sm-2">Metal</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Metal</div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Labor</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @foreach (OJewelry.Models.MetalComponent c in Model.Metals)
    {
        <div class="row ltbordered">
            <div class="col-sm-2 ">@c.Name</div>
            <div class="col-sm-2 "></div>
            <div class="col-sm-2 ">@c.Vendor</div>
            <div class="col-sm-1 ">@c.Metal</div>
            <div class="col-sm-1 ">@c.Price</div>
            <div class="col-sm-1 ">@c.Labor</div>
            <div class="col-sm-1 ">@c.Qty</div>
            <div class="col-sm-2 ">@c.Total</div>
        </div>
}
        <div class="row">
            <div class="col-sm-2"><h4><b>Total Metals</b></h4></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.MetalsTotal</div>
        </div>
        <div class="row StyleComponentsRowHeader">
            <div class="col-sm-2">Stones</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Ct Wt</div>
            <div class="col-sm-1">Size</div>
            <div class="col-sm-1">PPC/$</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @foreach (OJewelry.Models.StoneComponent c in Model.Stones)
    {
        <div class="row ltbordered">
            <div class="col-sm-2 ">@c.Name</div>
            <div class="col-sm-2 "></div>
            <div class="col-sm-2 ">@c.Vendor</div>
            <div class="col-sm-1 ">@c.CtWt</div>
            <div class="col-sm-1 ">@c.Size</div>
            <div class="col-sm-1 ">@c.PPC</div>
            <div class="col-sm-1 ">@c.Qty</div>
            <div class="col-sm-2 ">@c.Total</div>
        </div>
}
        <div class="row">
            <div class="col-sm-2"><h4><b>Total Stones</b></h4></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.StonesTotal</div>
        </div>

        <div class="row StyleComponentsRowHeader">
            <div class="col-sm-2">Findings</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-2">Vendor</div>
            <div class="col-sm-1">Metal</div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @foreach (OJewelry.Models.FindingsComponent c in Model.Findings)
    {
        <div class="row ltbordered">
            <div class="col-sm-2 ">@c.Name</div>
            <div class="col-sm-3 "></div>
            <div class="col-sm-2 ">@c.Vendor</div>
            <div class="col-sm-1 ">@c.Metal</div>
            <div class="col-sm-1 ">@c.Price</div>
            <div class="col-sm-1 ">@c.Qty</div>
            <div class="col-sm-2 ">@c.Total</div>
        </div>
}
        <div class="row">
            <div class="col-sm-2"><h4><b>Total Findings</b></h4></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.FindingsTotal</div>
        </div>

        <div class="row StyleComponentsRowHeader">
            <div class="col-sm-2">Labor</div>
            <div class="col-sm-5"></div>
            <div class="col-sm-1">Price/PPH</div>
            <div class="col-sm-1">Price/PPC</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @foreach (OJewelry.Models.LaborComponent c in Model.Labors)
    {
        <div class="row ltbordered">
            <div class="col-sm-2 ">@c.Name</div>
            <div class="col-sm-5 "></div>
            <div class="col-sm-1 ">@c.PPH</div>
            <div class="col-sm-1 ">@c.PPP</div>
            <div class="col-sm-1 ">@c.Qty</div>
            <div class="col-sm-2 ">@c.Total</div>
        </div>
}
        <div class="row">
            <div class="col-sm-2"><h4><b>Total Labor</b></h4></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.LaborsTotal</div>
        </div>

        <div class="row StyleComponentsRowHeader">
            <div class="col-sm-2">Misc</div>
            <div class="col-sm-6"></div>
            <div class="col-sm-1">Price</div>
            <div class="col-sm-1">Qty</div>
            <div class="col-sm-2">Total</div>
        </div>
        @foreach (OJewelry.Models.MiscComponent c in Model.Miscs)
    {
        <div class="row ltbordered">
            <div class="col-sm-2 ">@c.Name</div>
            <div class="col-sm-6 "></div>
            <div class="col-sm-1 ">@c.PPP</div>
            <div class="col-sm-1 ">@c.Qty</div>
            <div class="col-sm-2 ">@c.Total</div>
        </div>
}
        <div class="row">
            <div class="col-sm-2"><h4><b>Total Misc</b></h4></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.MiscsTotal</div>
        </div>

        <div class="row">
            <div class="col-sm-2"><h3><b>Total Cost</b></h3></div>
            <div class="col-sm-8"></div>
            <div class="col-sm-2">@Model.Total</div>
        </div>
    </div>

        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Style List", "Index", new { CollectionId = @Model.Style.CollectionId })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
