@model IEnumerable<OJewelry.Models.Shape>

@{
    ViewBag.Title = "Shapes";
}

<h2>Stone Shapes for <i>@ViewBag.CompanyName</i></h2>
<p>
    @Html.ActionLink("Create New Shape", "Create", new { @companyId = ViewBag.companyId })
</p>
</p>
@{
    string jsCall = $"GetLocalTime({ViewBag.companyId}, '{Url.Action("ExportStoneShapesReport")}')";
}

<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    <a class="ExportLink" href="#" onclick="@jsCall">Export Stone Shapes to Excel</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    <a class="ExportLink" href="#" onclick="@jsCall">Export Stone Shapes to Excel</a>
</p>

@section Scripts {
    @Scripts.Render("~/Scripts/GetLocalTime.js")
}
