@model IEnumerable<OJewelry.Models.Shape>

@{
    ViewBag.Title = "Index";
}

<h2>Stone Shapes</h2>
<p>
    @Html.ActionLink("Create New Shape", "Create", new { @companyId = ViewBag.companyId })
</p>
<p>
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Stone Shapes to Excel", "ExportStoneShapesReport", new { companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Stone Shapes to Excel", "ExportStoneShapesReport", new { companyId = ViewBag.companyId })
</p>