@model IEnumerable<OJewelry.Models.JewelryType>

@{
    ViewBag.Title = "Index";
}

<h2>Jewelry Types for <i>@ViewBag.CompanyName</i></h2>

<p>
    @{
        int? vbid = ViewBag.Id;
        <text>@Html.ActionLink("Create New", "Create", new { @companyId = ViewBag.companyId })</text>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackagingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishingCost)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PackagingCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishingCost)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Export Jewelry Types to Excel", "ExportJewelryTypesReport", new { companyId = ViewBag.companyId })

<div class="row">
    <div class="col-sm-4">
        @Html.ActionLink("Companies", "Index", "Companies")
    </div>
</div>
