@model IEnumerable<OJewelry.Models.JewelryType>

@{
    ViewBag.Title = "Index";
}

<h2>Jewelry Types for <i>@ViewBag.CompanyName</i></h2>

<p>
    @{
        int vbid = ViewBag.Id;
        <text>@Html.ActionLink("Create New", "Create", new { CompanyId = vbid })</text>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div>
    @{
        String str = ViewBag.CompanyName + " Details";
        <text>@Html.ActionLink(str, "Details", "Companies", new { id = ViewBag.Id }, null)</text>
    }
</div>
