@model OJewelry.Models.CollectionViewModel

@{
    ViewBag.Title = "Collections";
}

<h2>The <i>@Model.CompanyName</i> Collection</h2>

<p>
    @Html.ActionLink("Create New Collection", "Create", new { id = Model.CompanyId })
</p>
<div class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
    @Html.ActionLink("Export by Collection", "ExportCollectionReport", new { companyId = Model.CompanyId }) |
    @Html.ActionLink("Export by List", "ExportCollectionsByList", new { companyId = Model.CompanyId })
</div>
<table class="table">
    <tr>
        @* Put style titles here
            <th>
                @Html.DisplayNameFor(model => model.collection)
            </th>
        *@

        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Num)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.style.Qty)
        </th>

    </tr>
    @{int i = 0; string sectionNumberClass; string collapseClass; }
    @foreach (OJewelry.Models.CollectionModel item in Model.Collections)
    {
        sectionNumberClass = "Collapse" + i;
        collapseClass = ".Collapse" + i;
        i++;
        <tr>
            <td>
                <a data-toggle='collapse' href=@collapseClass role="button" aria-expanded="true" aria-controls="collapseExample">
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Add new Style", "Create", "Styles", new { collectionId = item.Id }, null)
            </td>
        </tr>
        foreach (OJewelry.Models.StyleModel sty in item.Styles)
        {
            <tr class="@sectionNumberClass collapse">
                <td>
                    @{ var imgName = sty.Image ?? "/Images/logo.png";}
                    <a href='@Url.Action("Edit", "Styles", new { id=sty.Id })'>
                        <img src="@imgName" class="StyleThumbImage" />
                    </a>
                </td>
                <td>@Html.DisplayFor(modelItem => sty.Name)</td>
                <td>@Html.DisplayFor(modelItem => sty.Desc)</td>
                <td>@Html.DisplayFor(modelItem => sty.Num)</td>
                <td>@Html.DisplayFor(modelItem => sty.Qty)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Styles", new { id = sty.Id }, null) @*|
                        @Html.ActionLink("Sell", "Sell", "Styles", new { id = sty.Id }, null)
                        @* @Html.ActionLink("Memo", "Memo", "Styles", new { id = sty.Id }, null) *@
                </td>
            </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", Model.CompanyId) |
    @Html.ActionLink("Export by Collection", "ExportCollectionReport", new { companyId = Model.CompanyId }) |
    @Html.ActionLink("Export by List", "ExportCollectionsByList", new { companyId = Model.CompanyId }) 
</p>
