@model OJewelry.Models.CollectionViewModel

@{
    ViewBag.Title = "Collections";
}

<h2>The <i>@Model.CompanyName</i> Assortment</h2>

<p>
    @Html.ActionLink("Create New Collection", "Create", new { id = Model.CompanyId })
</p>
<table class="table">
    <tr>
        @* Put style titles here
            <th>
                @Html.DisplayNameFor(model => model.collection)
            </th>
        *@

        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.RetialPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Qty)
        </th>

    </tr>
    @foreach (OJewelry.Models.CollectionModel item in Model.Collections)
    {
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => item.Name)</b>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Add new Style", "Create", "Styles", new { collectionId = item.Id }, null)
        </td>
    </tr>
        foreach (OJewelry.Models.StyleModel sty in item.Styles)
        {
    <tr>
        <td>
            @{ var imgName = sty.Image ?? "/Images/logo.png";}
            <a href='@Url.Action("Edit", "Styles", new { id=sty.Id })'>
                <img src="@imgName" class="StyleThumbImage" />
            </a>
        </td>
        <td>@Html.DisplayFor(modelItem => sty.Name)</td>
        <td>@Html.DisplayFor(modelItem => sty.Num)</td>
        <td>@Html.DisplayFor(modelItem => sty.RetialPrice)</td>
        <td>@Html.DisplayFor(modelItem => sty.Qty)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Styles", new { id = sty.Id }, null) @*|
            @Html.ActionLink("Sell", "Sell", "Styles", new { id = sty.Id }, null)
            @* @Html.ActionLink("Memo", "Memo", "Styles", new { id = sty.Id }, null) *@
        </td>
    </tr>
        }
    }

</table>
<p>
    @Html.ActionLink("Companies", "Index", "Companies")    
</p>
