@model IEnumerable<OJewelry.Models.ClientViewModel>

@{
    ViewBag.Title = "Clients";
}

<h2 class="red">ClientList</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Clients")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @* Link to Detail (Html.DisplayFor(modelItem => item.Name)/@Html.ActionLink(item.Name, "CollectionListByCompany", new { id = item.CompanyId }))*@
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink(item.CompanyName, "Details", "Companies", new { id = item.CompanyId }, null)
        </td>
        <td>
            @Html.ActionLink("Collections", "CollectionListByCompany", new { id = item.CompanyId }, null) |
            @Html.ActionLink("Edit", "Edit", "Clients", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Clients", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Clients", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
