@model OJewelry.Models.CollectionViewModel

@{
    ViewBag.Title = "CollectiinListByCompany";
}

<h2 class="red">The @Model.CompanyName Collections</h2>

<p>
    @Html.ActionLink("Create New Collection", "Create", "Collections",new { id = Model.CompanyId }, null )
</p>
<table class="table">
    <tr>
        @* Put style titles here
        <th>
            @Html.DisplayNameFor(model => model.collection)
        </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.style.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.RetialPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.style.Memod)
        </th>

    </tr>
    @foreach (OJewelry.Models.CollectionModel item in Model.Collections)
    {

        <tr>
            <td><b>@Html.DisplayFor(modelItem => item.Name)</b></td>
            <td class="AddStyleBtn">Add new Style</td>
        </tr>
        foreach (OJewelry.Models.StyleModel sty in item.Styles)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => sty.Name)</td>
            <td>@Html.DisplayFor(modelItem => sty.Num)</td>
            <td>@Html.DisplayFor(modelItem => sty.RetialPrice)</td>
            <td>@Html.DisplayFor(modelItem => sty.Qty)</td>
            <td>@Html.DisplayFor(modelItem => sty.Memod)</td> @*Add popup over non-zero memo to show where items are*@
            <td>
                @Html.ActionLink("Edit", "Edit", "Collections", new { id = sty.Id }, null) |
                @Html.ActionLink("Details", "Details", "Collections", new { id = sty.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Collections", new { id = sty.Id }, null) |
                @*@Html.ActionLink("Sell", "Sell", "Styles", new { id = sty.Id }) |*@
                @Html.ActionLink("Memo", "MemoStyle", new { id = sty.Id })
            </td>
        </tr>
        }
    }

</table>
