@model OJewelry.Models.Component

@{
    ViewBag.Title = "Details";
}

<h2>The <i>@Model.Name</i> Component</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PricePerPiece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PricePerPiece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetalMetal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetalMetal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetalLabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetalLabor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StonesCtWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StonesCtWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoneSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoneSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StonePPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StonePPC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FindingsMetal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FindingsMetal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index", new { CompanyId = @Model.CompanyId })
</p>
