@model IEnumerable<OJewelry.Models.Finding>

@{
    ViewBag.Title = $"{ViewBag.CompanyName} - Findings";
}

<h2>Findings for <i>@ViewBag.CompanyName</i></h2>

<p>
    @Html.ActionLink("Create New Finding", "Create", new { companyId = ViewBag.CompanyId })
</p>
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Findings Inventory", "ManageFindingsInventory", "Companies", new { companyId = ViewBag.CompanyId }, null) |
    @Html.ActionLink("Export Findings to Excel", "ExportFindingsReport", new { companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            Finding
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Vendor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        </td>
    </tr>
    }

</table>
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Findings Inventory", "ManageFindingsInventory", "Companies", new { companyId = ViewBag.CompanyId }, null) |
    @Html.ActionLink("Export Findings to Excel", "ExportFindingsReport", new { companyId = ViewBag.companyId })
</p>