@model IEnumerable<OJewelry.Models.Finding>

@{
    ViewBag.Title = "Index";
}

<h2>Findings for the <i>@ViewBag.CompanyName</i> company</h2>

<p>
    @Html.ActionLink("Create New Finding", "Create", new { companyId = ViewBag.CompanyId })
</p>
<p>
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Findings to Excel", "ExportFindingsReport", new { companyId = ViewBag.companyId })
</p>
<table class="table">
    <tr>
        <th>
            Finding
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Vendor
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Name)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Findings to Excel", "ExportFindingsReport", new { companyId = ViewBag.companyId })
</p>