@model OJewelry.Models.EditUserViewModel


<h4>Select the companies user can access</h4>
@Html.HiddenFor(model => model.UserId)

<div class="form-group">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @Html.LabelFor(model => model.Companies[0].CompanyName)
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @Html.LabelFor(model => model.Companies[0].CompanyName)
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        @Html.LabelFor(model => model.Companies[0].CompanyName)
    </div>
</div>
<div class="form-group">
    @for (int i = 0; i < Model.Companies.Count; i++)
    {
        <div>
            @Html.HiddenFor(model => model.Companies[i].CompanyId)
            <div>
                @Html.CheckBoxFor(model => model.Companies[i].bIncluded, new { @class = "col-md-1" })
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(model => model.Companies[i].CompanyName)
            </div>
        </div>
    }
</div>

@if (Model.bGuestUser == false)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
        </div>
    </div>
}