@model OJewelry.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit " + Model.UserName;
}

<h3>Edit <i>@Model.UserName</i></h3>

@if (Model != null && Model.Companies != null)
{
    using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()


        <h4>Select the roles</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.RoleId, new { @class = "col-md-2" })
            @Html.DropDownListFor(model => model.RoleId, new SelectList(ViewBag.Roles, "Id", "Name", Model.RoleId), "Select a Role", new { @class = "col-md-2 form-control" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.RoleId, null, new { @class = "text-danger" })
        </div>

        @Html.Partial("_EditUserPartial", Model)

    }
}
else
{
    <div class="text-danger">There are no companies defined</div>
}


@Html.ActionLink("Home", "Index", "Home") |
@Html.ActionLink("User List", "UserList", "Account")

