@model OJewelry.Models.EditUserViewModel

<h3>Edit <i>@Model.UserName</i></h3>

@using (Html.BeginForm("EditUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    <h4>Select the roles</h4>

    <h4>Select the companies user can access</h4>
    @Html.HiddenFor(model => model.UserId)
    if (Model != null && Model.Companies != null)
    {
    <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Companies[0].CompanyName)
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-4">

            @Html.LabelFor(model => model.Companies[0].CompanyName)
        </div>
        
    </div>
        <div class="row">
            @for (int i = 0; i < Model.Companies.Count; i++)
            {
            <div>
                @Html.HiddenFor(model => model.Companies[i].CompanyId)
                <div class="col-md-2">
                    @Html.CheckBoxFor(model => model.Companies[i].bIncluded)
                </div>
                <div class="col-md-4">
                    @Html.DisplayFor(model => model.Companies[i].CompanyName)
                </div>
            </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Update" />
            </div>
        </div>
    }
    else
    {
        <div class="text-danger">There are no companies defined</div>
    }
}

@Html.ActionLink("Home", "Index", "Home")

