@model OJewelry.Models.UserListViewModel
@using OJewelry.Models

<h3>Users</h3>

@if (Model != null & Model.Users != null)
{
    <div class="row">
        @Html.Label("User Name", new { @class = "form-label col-md-3" })
        @Html.LabelFor(model => model.Users[0].Email, new { @class = "form-label col-md-3" })
    </div>
    <div>
        @foreach (ApplicationUser u in Model.Users)
        {
            <div class="row form-group">
                <div class="col-md-3">
                    @Html.DisplayFor(model => u.UserName)
                </div>
                <div class="col-md-3">
                    @Html.DisplayFor(model => u.Email)
                </div>
                <div class="col-md-1">
                    @Html.ActionLink("Edit", "EditUser", new { userId = u.Id })
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-danger">There are no users</div>
}

@Html.ActionLink("Home", "Index", "Home")