@model OJewelry.Models.PresenterViewModel

@{
    ViewBag.Title = $"Edit Location - {@Model.Location.Name}";
}

<h2>Edit the <i>@Model.Location.Name</i> Location</h2>


@using (Html.BeginForm("Edit", "Presenters", FormMethod.Post, new { id = "LocationsForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Location.CompanyId)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Location.Id)

        @Html.Partial("_PresenterCreateEditInputs", Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Delete", "Delete", new { id = Model.Location.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Cancel", "Index", "Presenters", new { companyId = Model.Location.CompanyId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

}

<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies", null) |
    @Html.Partial("_CompanyNavPartial", Model.Location.CompanyId)
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/RowManager.js")
    @Scripts.Render("~/Scripts/SetupContacts-Presenters.js")
    @Scripts.Render("~/Scripts/FormatPhone.js")
}
