@model IEnumerable<OJewelry.Models.Presenter>

@{
    ViewBag.Title = $"{ViewBag.CompanyName} - Locations";
}

<h2>The <i>@ViewBag.CompanyName</i> Company Locations</h2>

<p>
    @Html.ActionLink("Create New Location", "Create", new { @companyId = ViewBag.CompanyId })
</p>
<p class="MainMenu">
    @Html.ActionLink("Companies List", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Locations to Excel", "ExportLocationReport", new { CompanyId = ViewBag.CompanyId })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)ViewBag.companyId) |
    @Html.ActionLink("Export Locations to Excel", "ExportLocationReport", new { CompanyId = ViewBag.CompanyId }) 
</p>
