@model MarkupModel
@using OJewelry.Models
@{
    ViewBag.Title = $"{Model.CompanyName} - Markups";
}
<h2>Markups for <i>@Model.CompanyName</i></h2>

<br />
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)Model.CompanyId) |
</p>


@using (Html.BeginForm("Index", "Markups", FormMethod.Post, new { id = "MarkupsForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal RowManager">
    <hr />
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.CompanyName)
    <div id="MarkupsTableHeader" class="form-group">
        @Html.LabelFor(model => model.markups[0].title, htmlAttributes: new { @class = "control-label contorl-label-left col-md-3" })
        @Html.LabelFor(model => model.markups[0].multiplier, htmlAttributes: new { @class = "control-label contorl-label-left col-md-2" })
        @Html.LabelFor(model => model.markups[0].ratio, htmlAttributes: new { @class = "control-label contorl-label-left col-md-2" })
    </div>
    <div id="MarkupsTableData">
        @for (int i = 0; i < Model.markups.Count; i++)
        {
            var bHideRow = (Model.markups[i].State == MMState.Unadded || Model.markups[i].State == MMState.Deleted) ? "hidden" : "";
            <div class="row MarkupsTableRowContainer @bHideRow">
                <div class="TableRowContainer ltbordered">
                    @Html.HiddenFor(model => model.markups[i].State, new { @class = "MarkupsState" })
                    <div class="row MarkupsTableRowData">
                        @Html.HiddenFor(model => model.CompanyId)
                        <div>
                            @Html.EditorFor(model => model.markups[i].title, new { htmlAttributes = new { @class = "requiredifnotremoved col-md-3" } })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.markups[i].multiplier, new { htmlAttributes = new { @class = "requiredifnotremoved col-md-2" } })
                        </div>
                        <div>
                            @Html.EditorFor(model => model.markups[i].ratio, new { htmlAttributes = new { @class = "requiredifnotremoved col-md-2" } })
                        </div>

                    </div>
                </div>
                <div class="row MarkupsTableRowValidation">
                    @Html.ValidationMessageFor(model => model.markups[i].title, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.markups[i].multiplier, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.markups[i].ratio, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <br />
        <div class="col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="submit" value="Cancel" formnovalidate="formnovalidate" class="btn btn-default" formaction="/Companies/Index" />
        </div>
    </div>
</div>
}


<br />
<p class="MainMenu">
    @Html.ActionLink("Companies", "Index", "Companies") |
    @Html.Partial("_CompanyNavPartial", (int)Model.CompanyId) |
</p>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/SetupMarkupTable.js")
}



